/* Default styles that will carry to the child style sheet */
body, html {
  font-family: "Lato", sans-serif;
  font-style: normal; 
  font-variant: normal;
  color: #1C6E8C;
  margin: 0;
  background-color: #4B9EC1;
}
 
 /* Structural elements */
 .wrapper{
   width: 100%;
 }

.avatar {
  border-radius: 50%;
  border:1px solid #7887AB;
}

.title {
  font-size: 60px;
  margin: 10px 0px;
  vertical-align: middle;
}

.subtitle {
  font-size: 25px;
  margin: 10px 0px;
}

 .row {
   display: flex;
   /* border-bottom:1px solid #040F0F; */
   /* padding: 20px; */
 }
 
 .content{
  min-height: 150px;
   width: 80%;
   height: 100%;
   /* margin-right: 3%; */
  background-color: #F0F9FD;
  padding-bottom: 50px;
 }

 .header {
 }
 
 .sidebar{
   width: 20%;
   height: 100%;
   color: #F0F9FD;
   /* margin-right: 3%; */
   /* background-color: #004354; */
 }

 .sidebar-content{
   margin-left: 25px;
   margin-top: 15px;
  text-align: right;
  text-transform: uppercase;
}

.section-title {
  margin: 15px;
}

.info-content{
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 15px;
  max-width: 750px;
  text-align: left;
}

.header-content {
  min-height: 450px;
  display:flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.aboutme {
  margin-top: 0px;
}

.skill-category {
  margin-bottom: 5px;
}

.skill-category-name {
  font-weight: bold;
}

.skills {
  cursor: default;
  /* line-height: 20px; */
}

.skill {
  word-spacing: 5px;
  padding: 5px;
  margin-right: 5px;
  border-radius: 8px;
  /* text-transform: lowercase; */
}

.skill:hover {
  border-radius: 8px;
  background-color: #1C6E8C;
  transition: .5s ease;
  color: #F0F9FD;
}

.language {

}

.framework {

}

.tool {

}

table {
  width: 100%;
  border-collapse: collapse; 
  border-spacing: 0px;
}

td {
  vertical-align: top;
}

tr {
}

.experience-item, .education-item {
  display: flex;
  margin-bottom: 40px;
}

.experience-position {
  margin-top: 0;
}

.experience-period, .education-period {
    width: 30%;
    height: 100%;
    text-align: left;
}

.experience-description, .education-description {
  width: 70%;
  height: 100%;
}

.education-description p {
  margin-top: 0;
}

.info-content h4 {
  margin-top: 0px;
  margin-bottom: 20px;
}

.contact-item {
  margin-bottom: 10px;
  /* height: 40px; */
  /* line-height: 40px; */
}

.contact-item img {
  /* display: block; */
  vertical-align: middle;
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

a:link, a:visited {
  color: #1C6E8C;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}