/* Default styles that will carry to the child style sheet */
body, html {
  font-family: "Droid Sans Mono";
  font-style: normal; 
  font-variant: normal;
  color: #C3DCC9;
  margin: 0;
  background-color: #1C2424;
}
 
 /* Structural elements */
 .wrapper{
   width: 100%;
 }

.avatar {
  border-radius: 50%;
  border:1px solid #7887AB;
}

 .row {
   display: flex;
   /* border-bottom:1px solid #040F0F; */
   /* padding: 20px; */
 }
 
 .content{
  min-height: 150px;
   width: 85%;
   height: 100%;
   /* margin-right: 3%; */
  background-color: #212B2B;
 }
 
 .sidebar{
   width: 15%;
   height: 100%;
   /* margin-right: 3%; */
   /* background-color: #004354; */
 }

 .sidebar-content{
   margin-left: 25px;
   margin-top: 15px;
  text-align: left;
  text-transform: lowercase;
}

.section-title {
  margin: 0;
  word-spacing: -8px;
}

.section-title::before {
  content: "~$ ";
  word-spacing: 0px;
}

.info-content{
  margin-left: 25px;
  margin-top: 15px;
  text-align: left;
}

.skill-category {
  margin-bottom: 5px;
}

.skill-category-name {
  font-weight: bold;
}

.skill {
  word-spacing: 5px;
  text-transform: lowercase;
}

.skill-bak {
  border: 1px solid;
  margin: 5px;
  padding-left: 3px;
  border-radius: 8px;
  background-color: #7887AB;
}

.language {

}

.framework {

}

.tool {

}

table td {
  vertical-align: top;
}

.experience-item {
  display: flex;
}